<div class="big_contain">
	<div class="AR_box">
		<div class="sub_contain">
			<div class="sub_title_contain">
				<div class="sub_title">Add Reservations</div>
			</div>
			<div class="row text_size14">
				<div class="col-md-2 col-xs-5 box_line_height row_top">Reservation for project：</div>
				<div class="col-md-3 col-xs-7 row_top">
					<input type="text" class="form-control form_height addSmallClass" ng-model="ARC.ReseProject"/>
				</div>
				<div class="col-md-offset-1 col-md-2 col-xs-5 box_line_height row_top">Platform：</div>
				<div class="col-md-3 col-xs-7 row_top">
					<select type="text" class="form-control form_height">
						<option>121212121</option>
						<option>121212121</option>
						<option>121212121</option>
					</select>
				</div>
			</div>
			<div class="row text_size14">
				<div class="col-md-2 col-xs-5 box_line_height row_top">Activity：</div>
				<div class="col-md-3 col-xs-7 row_top">
					<select type="text" class="form-control form_height"></select>
				</div>
				<div class="col-md-offset-1 col-md-2 col-xs-5 box_line_height row_top">Systems：</div>
				<div class="col-md-3 col-xs-7 row_top">
					<select type="text" class="form-control form_height"></select>
				</div>
			</div>
			<div class="row text_size14">
				<div class="col-md-2 col-xs-5 box_line_height row_top">Start Date：</div>
				<div class="col-md-3 col-xs-7 row_top">
					<input type="text" ng-model="VRC.ARStartDate" class="form-control form_height calendar_img_input" placeholder="Please select the time" id="ARStartDatePicker"/>
					<!--<img class="calendar_img" src="images/add_reservations/u584.png" ng-click="startDate()">-->
				</div>
				<div class="col-md-offset-1 col-md-2 col-xs-5 box_line_height row_top">End Date：</div>
				<div class="col-md-3 col-xs-7 row_top">
					<input type="text" class="form-control form_height calendar_img_input" placeholder="Please select the time" id="AREndDatePicker"/>
					<!--<img class="calendar_img" src="images/add_reservations/u584.png">-->
				</div>
			</div>
			<div class="row text_size14">
				<div class="col-md-2 col-xs-5 box_line_height row_top">Exclusive：</div>
				<div class="col-md-1 col-xs-3 row_top1">
					<label class="radio-inline">
  					<input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option1"> Yes
				</label>
				</div>
				<div class="col-md-1 col-xs-3 row_top1">
					<label class="radio-inline">
  					<input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option1"> No
				</label>
				</div>
			</div>
			<div class="row text_size14">
				<div class="col-md-2 col-xs-5 box_line_height row_top">Comments：</div>
			</div>
			<div class="row text_size14">
				<div class="col-md-11 col-xs-12 row_top">
					<textarea class="form-control" rows="6"></textarea>
				</div>
			</div>
			<div class="row text_size14">
				<div class="col-md-2 col-xs-5 box_line_height row_top">Created date：</div>
				<div class="col-md-3 col-xs-7 box_line_height row_top">
					2016-6-12
				</div>
				<div class="col-md-offset-1 col-md-2 col-xs-5 box_line_height row_top">Last modified date：</div>
				<div class="col-md-3 col-xs-7 box_line_height row_top">
					2016-6-12
				</div>
			</div>
			<div class="row text_size14">
				<div class="col-md-2 col-xs-5 box_line_height row_top">Approved date：</div>
				<div class="col-md-3 col-xs-7 box_line_height row_top">
					2016-6-12
				</div>
				<div class="col-md-offset-1 col-md-2 col-xs-5 box_line_height row_top">Last modified by：</div>
				<div class="col-md-3 col-xs-7 box_line_height row_top">
					2016-6-12
				</div>
			</div>
			<div class="row text_size14">
				<div class="col-md-12 col-xs-12 row_top1">
					<div class="box_line"></div>
				</div>
			</div>
			<div class="row">
				<div class="row_top1">
					<div class="box_btn_ar">
						<div class="btn_ar_text" ng-click="ARC.SearchClick()">Search</div>
					</div>
				</div>
				<div class="row_top1">
					<div class="box_btn_ar">
						<div class="btn_ar_text">Cancel</div>
					</div>
				</div>
			</div>
		</div>
		<div class="foot_contain">
			<div class="copy_right">© 2016 Syngenta</div>
		</div>
	</div>
</div>